.role-container {

    .actions {
        i{
            padding-top: 7px;
            padding-right: 7px;
            font-size: 22px;
            cursor: pointer;
        }

        .add {
            color: green;
        }

        .delete {
            color: red;
        }
    }

    .table-role {
        .edit {
            color: orange;
            cursor: pointer;
            padding-right: 10px;
        }

        .delete {
            color: red;
            cursor: pointer;
        }
    }
}